name: CI

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
      - uses: gradle/gradle-build-action@v3
        with:
          gradle-version: 8.8
      - name: Build
        run: gradle :domain:test :data:test :app:test :app:installDist
      - name: Docker build
        run: docker build -t dogv-agent .
